body
{
background-size: cover;
color: cadetblue;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: cadetblue;
}

#start, #num_of_objects, #status
{
    font-size: 18px;
}

.copy_right_footer
{
    position: fixed;
    color: darkslategrey;
    bottom: 0;
    width: 100%;
    background-color: floralwhite;
    line-height: 3;
    text-align: center;
}